<!doctype html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C4NP4XRMJF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C4NP4XRMJF');
</script>
<header class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- header Nav Start -->
				<nav class="navbar" style="margin-bottom: 6px;">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">
								<img src="/images/logoTwo.png" alt="Logo" width="180">
							</a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">About <span class="ion-ios-arrow-down"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/executive">Executive Board</a></li>
										<li><a href="/chapters">Chapters</a></li>
                    <li><a href="/team">Our Team</a></li>
									</ul>
								</li>
                <li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Media <span class="ion-ios-arrow-down"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/media/speaker">Speaker Series</a></li>
										<li><a href="/media/talks">InterSTEM Talks</a></li>
									</ul>
								</li>
                <li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Competitions <span class="ion-ios-arrow-down"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/competitions/writingContest">Writing Contest</a></li>
									</ul>
								</li>
                <!-- <li><a href="/news">News</a></li> --> 
                <li><a href="/blog">Blog</a></li>
                  <li><a href="/research">Research</a></li>
								<li><a href="/tutoring">Tutoring</a></li>
								<li><a href="/apply" class="gradient-btn">Apply</a></li>
							</ul>
							</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav>
					</div>
				</div>
			</div>
			</header><!-- header close -->
</head>
</html>
